*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    transform-style: preserve-3d;
}

:root {
    --background: #333;
    --hex-primary: #ffffff;
    --hex-secondary: #ffea1e;
    --hex-half-width: 104px;
    --hex-triangle-height: 60px;
    --hex-full-width: 208px;
    --hex-box-height: 120px;
    --hex-thickness: 24px;
    --right-angle: 90deg;
    --inclination: 29.6deg;
    --test-color: #b0b0b0;
    --gap-horizontal: 40px;
    --gap-vertical: -15px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    background-image: url(./assets/wood.jpg);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.hex-container {
    position: fixed;
    display: flex;
    width: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    top: 1000px;
    left: -300px;
    transform: rotateX(45deg) rotateZ(-45deg);
}

.hexagon::after,
.hexagon > .back-face::after {
    content: " ";
    position: absolute;
    width: 0;
    border-bottom: var(--hex-triangle-height) solid var(--hex-primary);
    border-left: var(--hex-half-width) solid transparent;
    border-right: var(--hex-half-width) solid transparent;
    bottom: calc(var(--hex-box-height) - 1px);
}

.hexagon,
.hexagon .back-face {
    position: relative;
    margin-top: var(--hex-triangle-height);
    width: var(--hex-full-width);
    height: var(--hex-box-height);
    background-color: var(--hex-primary);
    margin-left: var(--gap-horizontal);
    transition: transform 1500ms ease-in-out;
}

.hexagon::before,
.hexagon .back-face::before {
    content: "";
    width: 0;
    position: absolute;
    top: var(--hex-box-height);
    border-top: var(--hex-triangle-height) solid var(--hex-primary);
    border-left: var(--hex-half-width) solid transparent;
    border-right: var(--hex-half-width) solid transparent;
}

.hexagon .back-face {
    margin-left: 0;
    margin-top: 0;
    transform: translateZ(calc(var(--hex-thickness) * -1));
    animation: reverse;
}

.box {
    position: absolute;
    width: var(--hex-thickness);
    height: var(--hex-box-height);
    background-color: var(--test-color);
}

.side-1 {
    transform-origin: left;
    transform: rotateY(var(--right-angle));
}

.side-2 {
    right: 0;
    transform-origin: right;
    transform: rotateY(calc(-1 * var(--right-angle)));
}

.top,
.bottom {
    position: absolute;
    width: var(--hex-box-height);
    height: var(--hex-thickness);
    background-color: var(--test-color);
    z-index: 1;
}

.top.left {
    transform-origin: top left;
    transform: rotateZ(calc(var(--inclination) * -1))
        rotateX(calc(-1 * var(--right-angle)));
}

.top.right {
    right: 0;
    transform-origin: top right;
    transform: rotateZ(var(--inclination))
        rotateX(calc(-1 * var(--right-angle)));
}

.bottom {
    bottom: 0;
}

.bottom.left {
    transform-origin: bottom left;
    transform: rotateZ(calc(var(--inclination)))
        rotateX(calc(var(--right-angle)));
}

.bottom.right {
    right: 0;
    transform-origin: bottom right;
    transform: rotateZ(calc(var(--inclination) * -1))
        rotateX(calc(var(--right-angle)));
}

.hexagon .back-face {
}

.hexagon-odd-row,
.hexagon-even-row {
    display: flex;
    padding: 15px;
}

.hexagon-odd-row {
    margin-top: var(--gap-vertical);
}

.hexagon-even-row {
    margin-left: calc(var(--hex-half-width) + (var(--gap-horizontal) / 2));
    margin-top: var(--gap-vertical);
}

.fixed {
    position: fixed;
    transform-style: preserve-3d;
    top: 10px;
    animation: rotate-face 5000ms ease-in-out infinite forwards;
}

.top.left {
    background-color: red;
}
.top.right {
    background-color: green;
}
.side-1 {
    background-color: blue;
}
.side-2 {
    background-color: blue;
}

.bottom.left {
    background-color: red;
}

.bottom.right {
    background-color: green;
}

.hex-container-fixed {
    position: fixed;
    top: 10px;
    left: 500px;
}

.hexagon:hover {
    transform: rotateY(360deg);
}

/*animations */
@keyframes rotate-face {
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
