*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px black solid; */
    border: 0;
}

:root{
    --primary-color: 200, 100%, 25%;
    --secondary-color: 0, 2%, 78%;
}

.master-container{
    background-image: url(./assets/pexels-marina-zvada-19914310\ \(1\).jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    background-color: hsl(var(--primary-color), .7);
    width: 75%;
    max-width: 600px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 hsl(var(--primary-color));
}

.login-container > h1{
    color:white;
    text-align: center;
    margin-bottom:15px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.form > .input-set{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
}

.input-set > input{
    height: 2rem;
    border-radius: 7px;
    background-color: hsl(var(--secondary-color),.8);
    color: white;
    padding: 20px;
    border: none;
    outline: none;
}

.form button{
    color: white;
    font-size: 1.1rem;
    background-color: hsl(var(--primary-color),.75);
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

.input-set .message{
    display: none;
}

.input-set.success .message,.input-set.error .message{
    display: block;
}

.input-set.success .message{
    color: rgb(99, 218, 99);
}

.input-set.error .message{
    color: rgb(134, 22, 22);
}

.input-set.success input{
    box-shadow: 0 0 0 1px rgb(99, 218, 99);
}

.input-set.error input{
    box-shadow: 0 0 0 1px rgb(134, 22, 22);
}

.input-set input:focus{
    box-shadow: 0 0 0 1px rgb(67, 67, 219);
}

.form button:hover{
    background-color: hsl(var(--primary-color),.95);
    cursor: pointer;
}